/* Smooth Nonlinear Transition Eyecandy */
* {
  transition: all 0.2s;
}

/* Heading Styles */
h1,h2,h3,h4,h5,h6 {
  font-family: "Oswald";
  text-decoration-line: underline;
}
h1 {
  font-size: 3.5em;
  font-weight: bold;
  text-decoration-line: none;
  text-align: center;
}

/* Regular Text Styles */
p {
  font-family: "Roboto";
  font-size: 1em;
}
a {
  color: #0099ff;
}
a:hover {
  font-weight: bold;
}

/* Content/Title Containers Placement and Styling */
.content, .blerb {
  max-width: 40em;
  margin: 0 auto 0 auto;
}
.content-section, .blerb {
  padding: 0em 2em 0em 2em; 
  text-align: left;
}
.blerb {
  margin-bottom: 3em;
}
.content-section {
  margin-bottom: 2em;
}
div.title-container {
  padding: 4em 0 0 0;
}

/* Image Styling */
img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 1em 0 0 0;
}

/* Embedded YouTube Video Styling */
.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Image and Video Zoom on Hover Effect */
img, .video-container {
  z-index: 0;
}
img:hover, .video-container:hover {
  transform: scale(1.05);
  z-index: 0;
}

/* Navigation Bar Styling */
.navbar {
  width: 100%;
  height: 2.5em;
  background-color: #282828;
  position: fixed;
  color: #ffffff;
  font-family: "Oswald";
  z-index: 100;
  text-align: center;
  font-size: 1em;
}
/* General Styling for Lists in Navbar */
nav.navbar-links-container ul, nav.navbar-title-container ul, li.navbar-item {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* Navbar Title */
nav.navbar-title-container {
  float: left;
  background-color: #666666;
  height: 100%;
  padding: 0.5em 1.0em 0.5em 1.0em;
}
li.navbar-title {
  font-weight: 600;
  text-decoration-line: underline;
}
/* Navbar Links Side-By-Side and Styling*/
nav.navbar-links-container {
  float: right;
  height: 100%;
  padding: 0.5em 0em 0em 0em;
}
li.navbar-item {
  height: 100%;
}
/* Link Hover Styles */
li.navbar-item a {
  color: #ffffff;
  font-weight: normal;
  text-decoration-line: none;
  padding: 0.5em 0.5em 0.5em 0.5em;
}
li.navbar-item a:hover {
  background-color: #666666;
}
/* Responsive Design: Large screen */
@media only screen and (min-width: 800px) {
  /* Display links side-by-side */
  nav.navbar-links-container ul, nav.navbar-title-container ul, li.navbar-item {
    display: inline-block;
    height: 100%;
  }
  nav.navbar-links-container {
    margin-right: 0.5em;
  }
  /* Separator between links */
  nav.navbar-links-container li + li:before {
    content: " | ";
  }
}
/* Responsive Design: Small screen */
@media only screen and (max-width: 800px) {
  /* Set breadcrumb character */
  .navbar-links-container::before {
    content: "☰";
    padding: 0 1em 0 1em;
  }
  /* Don't show links... */
  .navbar-item {
    display: none;
  }
  .navbar-links-container ul {
    opacity: 0%;
  }
  /* ...until hover */
  .navbar-links-container:hover ul {
    background-color: #282828;
    width: 100vw;
    position: fixed;
    float: none;
    left: 0;
    margin-top: 0.5em;
    opacity: 90%;
  }
  .navbar-links-container:hover ul li {
    display: block;
    padding: 1em auto 1em auto;
    margin: 2em auto 2em auto;
  }
  .navbar-links-container:hover {
    background-color: #666666;
  }
}